

<!-- id status firstName lastName photoUrl jobTitle owner createdAt modifiedAt company contactInfo note imgSrc companyName  -->

<form name="form" role="form" novalidate  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="create()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="back()">&times;</button>
        <h4 class="modal-title" id="myDeviceLabel">Create or edit a Contact</h4>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="id"  ng-model="modelData.id" readonly>
            </div>
            <div class="form-group">
                <label>status</label>
                <input type="text" class="form-control" name="status" ng-model="modelData.status" ng-minlength=1 ng-maxlength=255  >
            </div>
            <div class="form-group">
                <label>firstName</label>
                <input type="text" class="form-control" name="firstName" ng-model="modelData.firstName" ng-minlength=1 ng-maxlength=255  >
            </div>
            <div class="form-group">
                <label>lastName</label>
                <input type="text" class="form-control" name="lastName" ng-model="modelData.lastName" ng-minlength=1 ng-maxlength=255  >
            </div>
            <div class="form-group">
                <label>photoUrl</label>
                <input type="text" class="form-control" name="photoUrl" ng-model="modelData.photoUrl" ng-minlength=1 ng-maxlength=255  >
            </div>
            <div class="form-group">
                <label>jobTitle</label>
                <input type="text" class="form-control" name="jobTitle" ng-model="modelData.jobTitle" ng-minlength=1 ng-maxlength=255  >
            </div>
            <div class="form-group">
                <label>owner</label>
                <input type="text" class="form-control" name="owner" ng-model="modelData.owner" ng-minlength=1 ng-maxlength=255  >
            </div>
            <div class="form-group">
                <label>createdAt</label>
                <input type="date" class="form-control" name="createdAt" placeholder="yyyy/MM/dd"    ng-model="modelData.createdAt">
            </div>
            <div class="form-group">
                <label>modifiedAt</label>
                <input type="date" class="form-control" name="modifiedAt" placeholder="yyyy/MM/dd"    ng-model="modelData.modifiedAt">
            </div>
            <div class="form-group">
                <label>note</label>
                <input type="text" class="form-control" name="note" ng-model="modelData.note" ng-minlength=1 ng-maxlength=4098  >
            </div>
            <div class="form-group">
                <label>imgSrc</label>
                <input type="text" class="form-control" name="imgSrc" ng-model="modelData.imgSrc" ng-minlength=1 ng-maxlength=512000  >
            </div>
            <div class="form-group">
                <label>companyName</label>
                <input type="text" class="form-control" name="companyName" ng-model="modelData.companyName" ng-minlength=1 ng-maxlength=255  >
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="back()">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="save()">
            <span class="glyphicon glyphicon-save"></span> Save
        </button>
    </div>
</form>
