

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="sidebar-nav">
            <li class="center">

                <div ng-include="'components/profile/profile.html'"></div>

            </li>
            <li>
                <a ui-sref="admin"><i class="fa fa-laptop"></i> <span class="nav-label">Admin</span> </a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.contact"><i class="fa fa-table"></i> <span class="nav-label">contact</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.address"><i class="fa fa-table"></i> <span class="nav-label">address</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.company"><i class="fa fa-table"></i> <span class="nav-label">company</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.contactphone"><i class="fa fa-table"></i> <span class="nav-label">contactphone</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.contactemail"><i class="fa fa-table"></i> <span class="nav-label">contactemail</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.contactinfo"><i class="fa fa-table"></i> <span class="nav-label">contactinfo</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.contactweb"><i class="fa fa-table"></i> <span class="nav-label">contactweb</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.tag"><i class="fa fa-table"></i> <span class="nav-label">tag</span></a>
            </li>
                    <li ui-sref-active="active">
            <a ui-sref="karateschool.contactinfotag"><i class="fa fa-table"></i> <span class="nav-label">contactinfotag</span></a>
            </li>
        
        </ul>

    </div>
</nav>
