<div style="height:40px;">
    <nav role="navigation" class="navbar navbar-default sortable" style="padding-right: 25px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_navbar"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>
            <a class="navbar-brand"><img alt="Brand"
                                         src="https://www.wildappledesigngroup.com/themes/cherry_responsive_boilerplate/img/stamp-branding.png"
                                         height="100" width="125"></a></div>
        <div class="collapse navbar-collapse" id="top_navbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="sortable"><a id="snippet_171" class="selectable"><span
                        class="fa fa-bank"></span>&nbsp;Home</a></li>
                <li class="sortable"><a class="dropdown-toggle selectable" data-toggle="dropdown" role="button"
                                        id="snippet_172"><span class="fa fa-asterisk"></span>&nbsp;Model<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/lacet/Albums"><span class="fa fa-archive"></span>&nbsp;Albums</a></li>
                        <li><a href="#/lacet/Invoices"><span class="fa fa-folder-o"></span>&nbsp;Invoices</a></li>
                        <li><a href="#/lacet/All Lists"><span class="fa fa-bars"></span>&nbsp;List All</a></li>
                    </ul>
                </li>
                <li class="sortable"><a id="snippet_177" class="selectable">&nbsp;Secured Page</a></li>
            </ul>
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="sortable"><a id="snippet_173" class="selectable"><span class="fa fa-bars"></span>&nbsp;Dashboard</a>
                </li>
                <li class="sortable"><a id="snippet_174" class="selectable"><span class="fa fa-sitemap"></span>&nbsp;Home</a>
                </li>
                <li class="sortable"><a id="snippet_175" class="selectable"><span class="fa fa-arrows-v"></span>&nbsp;Editor</a>
                </li>
                <li class="sortable"><a id="snippet_176" class="selectable"><span class="fa fa-ban"></span>&nbsp;Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div  ><!-- Carousel -->
    <div class="carousel slide" data-ride="carousel" id="carousel_inSlider">
        <ol class="carousel-indicators">
            <li class="test active" data-slide-to="0" data-target="#carousel_inSlider"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">

                <div class="carousel-caption">
                    <h4></h4>
                    <p>
                    </p>
                </div>

                <img alt="Carousel Bootstrap First"
                     src="http://www.pmrealty.com.au/thumb/phpthumb.php?src=/sites/pm_realty/uploads/images/gallery/View-From-The-Google-Offices-In-Downtown-Tokyo-iphone-panoramic-wallpaper-ilikewallpaper_com_200.jpg&amp;w=1920&amp;h=200&amp;q=80&amp;zc=1">
            </div>
        </div>
        <a class="left carousel-control" data-slide="prev" data-target="#carousel_inSlider" role="button">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-slide="next" data-target="#carousel_inSlider" role="button">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>